* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.header-container {
    position: fixed;
    left: 0;
    right: 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 60px;
    background: rgba(255, 255, 255, 0.9)
    z-index: 1000;
}
.left,.rigth {
    flex:1;
}
.center {
    text-align: center;
    flex: 0;
}
.menu {
    width: 24px;
}
.logo {
    width: 300px;
}
.content {
    padding-top: 280px;
    background-image: url("./recursos/header.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.title {
    font-family: Poppins-SemiBold;
    font-size: 24px;
    color: #0c474b;
}
.title-button {
   padding: 12px 24px;
   background-color: #0c474b;
   border: none;
   font-family: Poppins-SemiBold;
   font-size: 16px;
   color: #ffffff;
}
