* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header-container {
    position: fixed;
    width: 100%;   
    display: flex;
    align-items: center;
    padding: 30px;
}
.center {
    text-align: center;
    width: 100%;
}
.left {
    width: 24px;
}
.content {
    padding-top: 280px;
    background-image: url("./recursos/header.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    color: #0c474b;
}
.title-button {
   padding: 12px 24px;
   background-color: #0c474b;
   border: none;
   font-family: "poppins";
   font-weight: 600;
   font-size: 16px;
   color: #ffffff;
}

.grid {
    background-color: #f0ebe5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 150px 50px 100px;
}
.grid__item--first {
    color:#0c474b;
    font-family: "poppins";
    font-weight: 600;
    font-size: 24px;
    grid-row: 1;
    text-align: center;
    padding: 41px 60px;
}
.grid__item--second {
    grid-row: 2;
    text-align: center;
}
.grid__item--third {
    grid-row: 3;
    text-align: center;
    color: #0c474b;
    font-family: "poppins";
    font-weight: 600;
    font-size: 24px;
}
.grid__item--fourth {
    grid-row: 4;
    color: #0c474b;
    text-align: center;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    padding: 0px 103px;
}