@use "../core/variables" as vars;

.list-links-menu {
    display: none;
}
.link-second-content {
    color: vars.$secondLightColorBrand;
    font-family: vars.$mainFont;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    padding: 48px;
}
.link-footer {
    color: vars.$colorFooterFont;
    font-family: vars.$mainFont;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (min-width: 1000px) {
    .links-menu {
        color: vars.$darkColorBrand;
        font-family: vars.$mainFont;
        font-weight: 400;
        font-size: 16px;
    }
    .list-links-menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 70px;
    }
    .container-links-menu {
        width: 10px;
    }
}