@use "../core/variables" as vars;

.page__footer {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 90px;
    background-color: vars.$darkColorBrand;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-footer {
    color: vars.$colorFooterFont;
    font-family: vars.$mainFont;
    font-weight: 600;
    font-size: 20px;
}
.social {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
}
.linkedin, .instagram, .twitter {
    width: 21px;
}
.icon-arrow {
    width: 18px;
}
.arrow-container {
    position: absolute;
    left: 370px;
    top: 3310px;
}
@media screen and (min-width: 900px) {
.footer-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 50px 0px;
    }
.arrow-container {
    left: 810px;
    top: 2785px;
}
}
@media screen and (min-width: 1728px) {
.footer-container {
    gap: 300px;
    }
.arrow-container {
    left: 1550px;
    top: 3550px;
}
}