<footer class="page__footer">
  <div class="footer-container">
    <div class="first-section-footer">
      <h1 class="title-footer">Tienda</h1>
      <ul class="list-footer">
        <li><a class="link-footer" href="https://adalab.es/">Productos</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Cajoneras</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Para toda la casa</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Habitaciones</a></li>
      </ul>
    </div>
    <div class="second-section-footer">
      <h1 class="title-footer">Nosotros</h1>
      <ul class="list-footer">
        <li><a class="link-footer" href="https://adalab.es/">Nuestra guía</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Nuestro diseño</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Nuestra historia</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Ayuda</a></li>
      </ul>
    </div>
    <div class="third-section-footer">
      <h1 class="title-footer">Contacto</h1>
      <ul class="list-footer">
        <li><a class="link-footer" href="https://adalab.es/">ayuda@openspaces.com</a></li>
        <li><a class="link-footer" href="https://adalab.es/">Socios</a></li>
      </ul>
      <div class="social">
        <img src="./images/linkedin-in-brands.svg" alt="icono linkedin" class="linkedin">
        <img src="./images/instagram-brands.svg" alt="icono instagram" class="instagram">
        <img src="./images/twitter-brands.svg" alt="icono twitter" class="twitter">
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <div class="arrow">
      <a href="#top" class="arrow-link">
        <img src="./images/arrow-up-solid.svg" alt="flecha hacia arriba" class="icon-arrow">
      </a>
    </div>
  </div>
</footer>