<header class="header-container">
  <link rel="stylesheet" href="style.css">
  <div class="container-links-menu">
    <ul class="list-links-menu">
      <li><a class="links-menu" href="">Productos</a></li>
      <li><a class="links-menu" href="">Colecciones</a></li>
      <li><a class="links-menu" href="">Tienda</a></li>
      <li><a class="links-menu" href="">Inicio</a></li>
    </ul>
  </div>
  <div class="left">
    <img src="./images/bars-solid (1).svg" alt="menu" class="menu">
  </div>
  <div class="center">
    <img src="./images/logo.png" alt="logo" class="logo">
  </div>  
</header>
