<main class="page__main">
  <div class="content" id="top">
    <div class="title-container">
      <h1 class="first-green-title">Disfruta creando espacios</h1>
    </div>
    <div class="title-button-container">
      <button class="green-button">Comprar Ahora</button>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item--first">
      <h1 class="second-green-title"> Volverse organizado se siente mejor con OPEN SPACES</h1>
    </div>
    <div class="grid__item--second">
      <img src="./images/icon_1.png" alt="dibujo mesita" class="icon-table">
    </div>
    <div class="grid__item--third">
      <h2 class="subtitle-grid">Lo que necesitas</h2>
    </div>
    <div class="grid__item--fourth">
      <p class="text-grid">Una linea de productos diseñados para todos tus espacios</p>
    </div>
    <div class="grid__item--fifth">
      <img src="./images/Biodegradable bag.png" alt="dibujo bolsa reciclable" class="icon-recicled">
    </div>
    <div class="grid__item--sixth">
      <h2 class="subtitle-grid">Materias primas sustentables</h2>
    </div>
    <div class="grid__item--seventh">
      <p class="text-grid">Todos los productos con materias primas sustentables</p>
    </div>
    <div class="grid__item--eighth">
      <img src="./images/Park.png" alt="dibujo guia" class="icon-guide">
    </div>
    <div class="grid__item--ninth">
      <h2 class="subtitle-grid">Guía</h2>
    </div>
    <div class="grid__item--tenth">
      <p class="text-grid">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
  </div>
  <div class="second-content">
    <img src="./images/go_6.png" alt="dibujo camión" class="truck">
    <h1 class="white-title">Envío gratis garantizado</h1>
    <p class="white-text">Envío gratis en compras desde 100</p>
    <a class="link-second-content" href="">Comprar ahora</a>
  </div>
  <div class="container-third-content">
    <div class="third-content">
      <div class="title-third-content">
        <h1 class="third-green-title">Disfruta creando espacios</h1>
      </div>
      <div class="text-third-content">
        <p class="green-tinny-text">Una línea de productos diseñados para todos tus espacios</p>
      </div>
      <div class="button-third-content">
        <button class="green-button">Comprar Ahora</button>
      </div>    
    </div>    
    <img src="./images/creando-espacios.jpg" alt="foto de lavabo" class="image-third-content">
  </div>
</main>
